# Ignore Node.js dependencies
node_modules/

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore configuration files (if they contain sensitive data)
.env
.gitignore

# Ignore random other stuff
interactions/jail.js

#Ignore personalized storage data
storage.json 